@model ZohoConnectorApplicationUI.Models.UIModels.RecordByIdModel
@{
    ViewData["Title"] = "RecordById";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var recordSingle = Model;
    var specificList = ViewBag.SpecificList;
}
<div class="row">
    @if (Model == null)
    {
        <div class="container">
            <div class="col-md-12" style="margin-top:100px;">
                <form asp-controller="Home" asp-action="RecordById" method="post">
                    <div class="form-group">
                        <label asp-for="Id"></label>
                        <input asp-for="Id" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Value"></label>
                        <select asp-items="specificList" multiple="multiple" asp-for="Value"></select>
                    </div>
                    <div class="form-group">
                        <button type="submit">Verileri Çek</button>
                    </div>
                </form>

            </div>
        </div>
    }
 

    @if (Model != null)
    {
        <div class="col-md-12" style="margin-top:100px;">
            <div class="col-md-12">
                <span>@Model.Id</span> numaralı veriyi <span> @Model.SelectionValue</span> değişkenlerine göre çekiyorsunuz.
            </div>
            <div>
                <ul>
                    <li>
                        <span>@Model.Record.Id</span>
                    </li>
                    <li>
                        <label>Lead Owner</label>
                        @Model.Record.LeadOwner

                    </li>
                
                    <li>
                        <label>First Name</label>
                        @Model.Record.FirstName
                    </li>

                    <li> <label>Last name</label>@Model.Record.LastName </li>
                    <li>
                        <label>Email</label>
                        @Model.Record.Email
                    </li>
                  
                    <li>
                        <label>CreatedBy</label>
                        @Model.Record.CreatedBy

                    </li>
                    <li>
                        <label>CreatedTime</label>
                        @Model.Record.CreatedTime
                    </li>
                </ul>
                
            </div>
        </div>
    }





</div>